.treenode {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.treenode__header {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
}

.treenode__header:hover {
  background-color: #EEE;
  color: #1197d3;
}

.treenode__icon {
  margin-right: 4px;
}

.treenode__icon svg {
  display: block;
  width: 18px;
  height: 18px;
}

.treenode__label {
  flex-grow: 1;
}

.treenode--selected .treenode__header {
  color: white;
  background-color: #1197d3;
}

.treenode--selected .treenode__header svg {
  fill: rgba(255, 255, 255, 0.75);
}
