.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.example {
  display: flex;
  flex: 1;
}

.main {
  flex-grow: 1;
  position: relative;
}

.sidebar {
  width: 400px;
  border-left: 1px solid #DDD;
}
