.editor {
  background-color: #DDD;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
}

.editorHeader {
  background-color: #777;
  padding: 0 4px;
  color: white;
  font-size: 14px;
  display: flex;
  min-height: 24px;
  align-items: center;
}

.editorControls {
  margin-left: auto;
  height: 18px;
  display: flex;
}

.editorControls button {
  width: 18px;
  height: 18px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  border: none;
  margin-right: 4px;
  outline: none;
  color: white;
  line-height: 1;
}

.editorControls button:hover,
.editorControls button:focus {
  background-color: #333;
}

.editorControls button:active {
  background-color: #222;
}

.editorControls svg {
  width: 12px;
  height: 12px;
  fill: white;
}

.editorBody {
  padding: 0 4px;
  flex-grow: 1;
  overflow: auto;
}
