.lineEditor {

}

.lineEditorSvg {
  font-family: monospace;
  user-select: none;
  border: 1px solid #AAA;
  background-color: white;
  cursor: crosshair;
}

.lineEditorDraggable {
  cursor: move;
}
