.vision {
  flex-grow: 1;
  flex-shrink: 1;
}

.robot {
  margin: 6px;
  border: 1px solid red;
  text-align: center;
}

.canvases {
  position: relative;
}

.container, .canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
