/* TODO: Style this nicely :) */

.vision {
  flex-grow: 1;
  flex-shrink: 1;
}

.robot {
  margin: 6px;
  border: 1px solid red;
  text-align: center;
}

.canvases {
  position: relative;
}

/*
 * The :not(:last-child) selector ensures at least 1 canvas element takes up DOM space. This might not be needed when
 * auto-sizing is added.
 */
.canvas:not(:last-child) {
  /* Float canvas layer on top. */
  position: absolute;
}
