.statusIndicator {
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.statusConnected {
  background-color: #00de46;
  box-shadow: 0 0 8px #00de46;
  transition-property: background-color border-color;
  transition-duration: 0.1s;
}

.statusConnected.flash {
  background-color: transparent;
  box-shadow: 0 0 8px transparent;
}

.statusDisconnected {
  border: 2px solid #ccc;
}
