.container {
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100vh;
}

.viewer {

}

.balance {

}

.editor {
  grid-column-start: 1;
  grid-column-end: span 3;
  max-height: 100%;
}

.controls {

}
