.listField {
  padding: 0;
  list-style: none;
}

.listField__header {
  color: #63a35c;
  margin-bottom: 8px;
  cursor: default;
}

.listField__header::after {
  display: inline-block;
  content: ':';
}

.listField__subFields {
  padding-left: 22px;
}

.listField__subFields li {
  margin-bottom: 8px;
  display: flex;
}

.listField__subFields li:last-child {
  margin-bottom: 0;
}

.listField__subFields li::before {
  display: inline-block;
  content: '-';
  margin-right: 8px;
  color: rgba(0,0,0,0.5);
}
